.banner {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
   height: 15rem;

   background-image: url("../../assets/images/bg1.jpg");
   background-position: center;
   background-size: cover;

   &__title {
      color: rgba(255,255,255,0.8);
      font-weight: bold;
   }
}